.div_proyect{
	border-radius: 9px;
	border: 1px solid #e6edef;
	padding-right: 3px;
}

.left_3{
	padding-left: 3px;
}

.btn-primary{
	border-radius: 15px;
}

.hgt_inp{
	height: 70px;
}

.head_tbl_prog{
	background-color: #0232cf !important;
	color:white !important;
}

/* The switch - the box around the slider */
.switch {position: relative;display: inline-block;width: 60px;height: 34px;}
/* Hide default HTML checkbox */
.switch input {display:none;}
/* The slider */
.sliderN {position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;background-color: #ccc;-webkit-transition: .4s;transition: .4s;}
.sliderN:before {position: absolute;content: "";height: 26px;width: 26px;left: 4px;bottom: 4px;background-color: white;-webkit-transition: .4s;transition: .4s;}
input:checked + .sliderN {background-color: #0232cf;}
input:focus + .sliderN {box-shadow: 0 0 1px #0232cf;}
input:checked + .sliderN:before { -webkit-transform: translateX(26px); -ms-transform: translateX(26px); transform: translateX(26px);}
/* Rounded sliders */
.sliderN.round {border-radius: 34px;}
.sliderN.round:before {border-radius: 50%;}