.elementor-666 .elementor-element.elementor-element-a14c231 img{border-radius:6px 6px 6px 6px;box-shadow:0px 0px 88px 0px rgba(0,0,0,0.5);}.elementor-666 .elementor-element.elementor-element-434c23c{color:#1E303F;}