<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>High Temperature Filters &#8211; New Filtration Services</title>
	<atom:link href="https://www.grupoisn.com.mx/en/category/high-temperature-filters/feed/" rel="self" type="application/rss+xml" />
	<link>https://www.grupoisn.com.mx</link>
	<description>New Hispanic-Mexican Filtration Services</description>
	<lastBuildDate>Tue, 17 Mar 2020 05:20:42 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.6</generator>
	<item>
		<title>High Temperature Filter</title>
		<link>https://www.grupoisn.com.mx/en/high-temperature-filter/</link>
					<comments>https://www.grupoisn.com.mx/en/high-temperature-filter/#respond</comments>
		
		<dc:creator><![CDATA[admin_snf]]></dc:creator>
		<pubDate>Tue, 17 Mar 2020 05:02:25 +0000</pubDate>
				<category><![CDATA[High Temperature Filters]]></category>
		<guid isPermaLink="false">https://www.grupoisn.com.mx/?p=1094</guid>

					<description><![CDATA[<p>Previo Siguiente</p>
<p>El cargo <a rel="nofollow" href="https://www.grupoisn.com.mx/en/high-temperature-filter/">High Temperature Filter</a> apareció primero en <a rel="nofollow" href="https://www.grupoisn.com.mx/en/home">New Filtration Services</a>.</p>
]]></description>
										<content:encoded><![CDATA[		<div data-elementor-type="wp-post" data-elementor-id="1094" class="elementor elementor-1094" data-elementor-settings="[]">
						<div class="elementor-inner">
							<div class="elementor-section-wrap">
							<section class="elementor-section elementor-top-section elementor-element elementor-element-885f00f elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="885f00f" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-9e73d13" data-id="9e73d13" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<section class="elementor-section elementor-inner-section elementor-element elementor-element-1038b00 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="1038b00" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-8e45ae0" data-id="8e45ae0" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-a14c231 elementor-widget elementor-widget-image" data-id="a14c231" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
								<div class="elementor-image">
												<img width="1024" height="683" src="https://www.grupoisn.com.mx/wp-content/uploads/2020/03/FILTRO-ALTA-TEMPERATURA-1024x683.jpg" class="elementor-animation-grow attachment-large size-large" alt="" loading="lazy" srcset="https://www.grupoisn.com.mx/wp-content/uploads/2020/03/FILTRO-ALTA-TEMPERATURA-1024x683.jpg 1024w, https://www.grupoisn.com.mx/wp-content/uploads/2020/03/FILTRO-ALTA-TEMPERATURA-300x200.jpg 300w, https://www.grupoisn.com.mx/wp-content/uploads/2020/03/FILTRO-ALTA-TEMPERATURA-768x512.jpg 768w, https://www.grupoisn.com.mx/wp-content/uploads/2020/03/FILTRO-ALTA-TEMPERATURA-1536x1024.jpg 1536w, https://www.grupoisn.com.mx/wp-content/uploads/2020/03/FILTRO-ALTA-TEMPERATURA-2048x1365.jpg 2048w, https://www.grupoisn.com.mx/wp-content/uploads/2020/03/FILTRO-ALTA-TEMPERATURA-930x620.jpg 930w" sizes="(max-width: 1024px) 100vw, 1024px" />														</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-f41841b elementor-arrows-position-inside elementor-pagination-position-outside elementor-widget elementor-widget-image-carousel" data-id="f41841b" data-element_type="widget" data-settings="{&quot;navigation&quot;:&quot;both&quot;,&quot;autoplay&quot;:&quot;yes&quot;,&quot;pause_on_hover&quot;:&quot;yes&quot;,&quot;pause_on_interaction&quot;:&quot;yes&quot;,&quot;autoplay_speed&quot;:5000,&quot;infinite&quot;:&quot;yes&quot;,&quot;speed&quot;:500}" data-widget_type="image-carousel.default">
				<div class="elementor-widget-container">
					<div class="elementor-image-carousel-wrapper swiper-container" dir="ltr">
			<div class="elementor-image-carousel swiper-wrapper">
								<div class="swiper-slide"><a data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="f41841b" data-elementor-lightbox-title="FILTRO HT2" href="https://www.grupoisn.com.mx/wp-content/uploads/2020/03/FILTRO-HT2-scaled.jpg"><figure class="swiper-slide-inner"><img class="swiper-slide-image" src="https://www.grupoisn.com.mx/wp-content/uploads/2020/03/FILTRO-HT2-150x150.jpg" alt="FILTRO HT2" /></figure></a></div><div class="swiper-slide"><a data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="f41841b" data-elementor-lightbox-title="FILTRO hT" href="https://www.grupoisn.com.mx/wp-content/uploads/2020/03/FILTRO-hT-scaled.jpg"><figure class="swiper-slide-inner"><img class="swiper-slide-image" src="https://www.grupoisn.com.mx/wp-content/uploads/2020/03/FILTRO-hT-150x150.jpg" alt="FILTRO hT" /></figure></a></div><div class="swiper-slide"><a data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="f41841b" data-elementor-lightbox-title="FILTRO HR" href="https://www.grupoisn.com.mx/wp-content/uploads/2020/03/FILTRO-HR-scaled.jpg"><figure class="swiper-slide-inner"><img class="swiper-slide-image" src="https://www.grupoisn.com.mx/wp-content/uploads/2020/03/FILTRO-HR-150x150.jpg" alt="FILTRO HR" /></figure></a></div><div class="swiper-slide"><a data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="f41841b" data-elementor-lightbox-title="IMG_3615" href="https://www.grupoisn.com.mx/wp-content/uploads/2020/03/IMG_3615-1-scaled.jpg"><figure class="swiper-slide-inner"><img class="swiper-slide-image" src="https://www.grupoisn.com.mx/wp-content/uploads/2020/03/IMG_3615-1-150x150.jpg" alt="IMG_3615" /></figure></a></div><div class="swiper-slide"><a data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="f41841b" data-elementor-lightbox-title="HT3" href="https://www.grupoisn.com.mx/wp-content/uploads/2020/03/HT3-scaled.jpg"><figure class="swiper-slide-inner"><img class="swiper-slide-image" src="https://www.grupoisn.com.mx/wp-content/uploads/2020/03/HT3-150x150.jpg" alt="HT3" /></figure></a></div><div class="swiper-slide"><a data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="f41841b" data-elementor-lightbox-title="FILTRO ALTA TEMPERATURA" href="https://www.grupoisn.com.mx/wp-content/uploads/2020/03/FILTRO-ALTA-TEMPERATURA-scaled.jpg"><figure class="swiper-slide-inner"><img class="swiper-slide-image" src="https://www.grupoisn.com.mx/wp-content/uploads/2020/03/FILTRO-ALTA-TEMPERATURA-150x150.jpg" alt="FILTRO ALTA TEMPERATURA" /></figure></a></div><div class="swiper-slide"><a data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="f41841b" data-elementor-lightbox-title="IMG_3615" href="https://www.grupoisn.com.mx/wp-content/uploads/2020/03/IMG_3615-scaled.jpg"><figure class="swiper-slide-inner"><img class="swiper-slide-image" src="https://www.grupoisn.com.mx/wp-content/uploads/2020/03/IMG_3615-150x150.jpg" alt="IMG_3615" /></figure></a></div>			</div>
												<div class="swiper-pagination"></div>
													<div class="elementor-swiper-button elementor-swiper-button-prev">
						<i aria-hidden="true" class="eicon-chevron-left"></i>						<span class="elementor-screen-only">Previous</span>
					</div>
					<div class="elementor-swiper-button elementor-swiper-button-next">
						<i aria-hidden="true" class="eicon-chevron-right"></i>						<span class="elementor-screen-only">Next</span>
					</div>
									</div>
				</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-a3b7427" data-id="a3b7427" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-434c23c elementor-widget elementor-widget-text-editor" data-id="434c23c" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<table class="wp-list-table widefat fixed striped posts"><tbody id="the-list"><tr id="post-704" class="iedit author-self level-0 post-704 type-dae_download status-publish hentry"><td class="shortcode column-shortcode" data-colname="Shortcode"><style type="text/css">
		#dae-shortcode704-download-wrapper {
			background: url() !important;
			background-attachment: scroll !important;
		}
		#dae-shortcode704-download-wrapper .dae-shortcode-download-file-image {
			width:  !important;
		}
		#dae-shortcode704-download-wrapper.dae-shortcode-download-wrapper-wide .dae-shortcode-download-file-image {
			width:  !important;
		}
		#dae-shortcode704-download-wrapper .dae-shortcode-download-title {
			font-size: 40px !important;
			font-family: Poppins !important;
			color: #ffffff !important;
		}
		#dae-shortcode704-download-wrapper .dae-shortcode-download-text {
			font-size: 16px !important;
			font-family: Poppins !important;
			color: #ffffff !important;
		}
		#dae-shortcode704-download-wrapper .dae-shortcode-download-text h1,
		#dae-shortcode704-download-wrapper .dae-shortcode-download-text h2,
		#dae-shortcode704-download-wrapper .dae-shortcode-download-text h3,
		#dae-shortcode704-download-wrapper .dae-shortcode-download-text h4,
		#dae-shortcode704-download-wrapper .dae-shortcode-download-text h5 {
			font-family: Poppins !important;
		}
		#dae-shortcode704-download-wrapper .dae-shortcode-download-button {
			color: #ffffff !important;
			background: none !important;
			font-size: 25px !important;
			font-family: Poppins !important;
			width: auto !important;
			padding: 20px 8px !important;
			border-color: #1e303f !important;
			border-radius: 10px !important;
			-moz-border-radius: 10px !important;
			-webkit-border-radius: 10px !important;
		}
		#dae-shortcode704-download-wrapper .dae-shortcode-download-button:hover {
			color: #ffffff !important;
			background: #1e73be !important;
			border-color: #1e303f !important;
			font-size: 25px !important;
			font-family: Poppins !important;
			width: auto !important;
			padding: 20px 8px !important;
			border-radius: 10px !important;
			-moz-border-radius: 10px !important;
			-webkit-border-radius: 10px !important;
		}
		#dae-shortcode704-download-wrapper .dae-shortcode-register-label {
			font-size: 18px !important;
			font-family: Poppins !important;
			color: #ffffff !important;
		}
		#dae-shortcode704-download-wrapper .dae-shortcode-register-icon {
			height: calc(45px + 4px) !important;
			font-size: 15px !important;
			font-family: Poppins !important;
			padding: 15px !important;
			color: #ffffff !important;
			background: #1e303f !important;
			border-radius: 10px 0 0 10px !important;
			-moz-border-radius: 10px 0 0 10px !important;
			-webkit-border-radius: 10px 0 0 10px !important;
		}
		#dae-shortcode704-download-wrapper .dae-shortcode-register-field {
			height: calc(45px + 4px) !important;
			font-size: 15px !important;
			font-family: Poppins !important;
			padding: 15px !important;
			color: #1e303f !important;
			background: #f9f9f9 !important;
			border-radius: 0 10px 10px 0 !important;
			-moz-border-radius: 0 10px 10px 0 !important;
			-webkit-border-radius: 0 10px 10px 0 !important;
		}
		#dae-shortcode704-download-wrapper .dae-shortcode-register-select-icon {
			top: calc(50% - 7.5px) !important;
			right: 15px !important;
			font-size: 15px !important;
			font-family: Poppins !important;
			color: #1e303f !important;
		}
		#dae-shortcode704-download-wrapper .dae-shortcode-register-field::-webkit-input-placeholder,
		#dae-shortcode704-download-wrapper .dae-shortcode-register-field::placeholder {
			color: #1e303f !important;
			font-family: Poppins !important;
		}
		#dae-shortcode704-download-wrapper .dae-shortcode-register-field::-ms-input-placeholder {
			color: #1e303f !important;
			font-family: Poppins !important;
		}
		#dae-shortcode704-download-wrapper .dae-shortcode-register-checkbox-text {
			color: #1e303f !important;
			font-size: 12px !important;
			font-family: Poppins !important;
		}
		#dae-shortcode704-download-wrapper .dae-shortcode-register-checkbox-text a {
			color: #1e73be !important;
		}
		#dae-shortcode704-download-wrapper .dae-shortcode-register-checkbox-text a:hover {
			color: #1e73be !important;
		}
		#dae-shortcode704-download-wrapper .dae-shortcode-register-submit {
			color: #ffffff !important;
			font-size: 18px !important;
			font-family: Poppins !important;
			padding: 18px !important;
			background: #1e303f !important;
			border-radius: 10px !important;
			-moz-border-radius: 10px !important;
			-webkit-border-radius: 10px !important;
		}
		#dae-shortcode704-download-wrapper .dae-shortcode-register-submit:hover {
			color: #ffffff !important;
			background: #263b59 !important;
			font-size: 18px !important;
			font-family: Poppins !important;
			padding: 18px !important;
			border-radius: 10px !important;
			-moz-border-radius: 10px !important;
			-webkit-border-radius: 10px !important;
		}
		#dae-shortcode704-download-wrapper .dae-shortcode-register-loading {
			color: #1e303f !important;
		}
		#dae-shortcode704-download-wrapper .dae-shortcode-register-message {
			font-size: 16px !important;
			font-family: Poppins !important;
		}
		#dae-shortcode704-download-wrapper .dae-shortcode-register-error {
			color: #1e303f !important;
		}
		#dae-shortcode704-download-wrapper .dae-shortcode-register-success {
			color: #ffffff !important;
		}
		#dae-shortcode704-download-wrapper .dae-shortcode-register-category-interests h4,
		#dae-shortcode704-download-wrapper .dae-shortcode-register-input-wrap-interest label {
			font-family: Poppins !important;
		}
		#dae-shortcode704-download-wrapper {
			align-items:  !important;
			-webkit-align-items:  !important;
			justify-content: flex-start !important;
			-webkit-justify-content: flex-start !important;
			-moz-justify-content: fle-start !important;
		}
		#dae-shortcode704-download-wrapper .dae-shortcode-download-content-wrapper,
		#dae-shortcode704-download-wrapper .dae-shortcode-download-title,
		#dae-shortcode704-download-wrapper .dae-shortcode-download-text,
		#dae-shortcode704-download-wrapper .dae-shortcode-register-wrapper p,
		#dae-shortcode704-download-wrapper .dae-shortcode-register-category-interests-wrap {
			text-align:  !important;
		}
		#dae-shortcode704-download-wrapper .dae-shortcode-register-field-wrap {
			justify-content:  !important;
			-webkit-justify-content:  !important;
			-moz-justify-content:  !important;
		}
		#dae-shortcode704-download-wrapper .dae-shortcode-register-label,
		#dae-shortcode704-download-wrapper .dae-shortcode-register-message,
		#dae-shortcode704-download-wrapper .dae-shortcode-register-category-interests-wrap {
			margin:  !important;
		}
		#dae-shortcode704-download-wrapper.dae-shortcode-download-wrapper-wide {
			align-items: center !important;
			-webkit-align-items: center !important;
			justify-content:  !important;
			-webkit-justify-content:  !important;
			-moz-justify-content:  !important;
		}
		#dae-shortcode704-download-wrapper.dae-shortcode-download-wrapper-wide .dae-shortcode-download-content-wrapper,
		#dae-shortcode704-download-wrapper.dae-shortcode-download-wrapper-wide .dae-shortcode-download-title,
		#dae-shortcode704-download-wrapper.dae-shortcode-download-wrapper-wide .dae-shortcode-download-text,
		#dae-shortcode704-download-wrapper.dae-shortcode-download-wrapper-wide .dae-shortcode-register-wrapper p,
		#dae-shortcode704-download-wrapper.dae-shortcode-download-wrapper-wide .dae-shortcode-register-category-interests-wrap {
			text-align:  !important;
		}
		#dae-shortcode704-download-wrapper.dae-shortcode-download-wrapper-wide .dae-shortcode-register-field-wrap {
			justify-content:  !important;
			-webkit-justify-content:  !important;
			-moz-justify-content:  !important;
		}
		#dae-shortcode704-download-wrapper.dae-shortcode-download-wrapper-wide .dae-shortcode-register-label,
		#dae-shortcode704-download-wrapper.dae-shortcode-download-wrapper-wide .dae-shortcode-register-message,
		#dae-shortcode704-download-wrapper.dae-shortcode-download-wrapper-wide .dae-shortcode-register-category-interests-wrap {
			margin:  !important;
		}
	</style>
		<div id="dae-shortcode704-download-wrapper" class="dae-shortcode-download-wrapper">
			
			<div class="dae-shortcode-download-content-wrapper">
				<h2 class="dae-shortcode-download-title">Filtro de Alta Temperatura</h2>
				
				<div class="dae-shortcode-download-button">
					<span class="dae-shortcode-download-button-icon"><i class="fas fa-download"></i></span>
					<span class="dae-shortcode-download-button-text">Descargar ficha técnica</span>
				</div>
				<div class="dae-shortcode-register-wrapper">
					<p class="dae-shortcode-register-label">Enviar link a:</p>
					<form class="dae-shortcode-register-form" method="post" novalidate="novalidate">
						<input type="hidden" name="file" value="FICHA-TECNICA-FILTRO-ALTA-TEMPERATURA.pdf" />
						<div class="dae-shortcode-register-field-wrap"><div class="dae-shortcode-register-icon"><i class="fas fa-envelope"></i></div><div class="dae-shortcode-register-input-wrap"><input class="dae-shortcode-register-field" type="email" name="email" placeholder="Email" autocomplete="off" /></div></div>
						
						
						<p>
							<input class="dae-shortcode-register-submit" type="submit" value="Aceptar" />
						</p>
						<p class="dae-shortcode-register-loading">
							<i class="fas fa-spinner fa-spin"></i>
						</p>
					</form>
					<p class="dae-shortcode-register-message"></p>
				</div>
			</div>
		</div>
	</td></tr></tbody></table><p> </p>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
						</div>
						</div>
					</div>
		<p>El cargo <a rel="nofollow" href="https://www.grupoisn.com.mx/en/high-temperature-filter/">High Temperature Filter</a> apareció primero en <a rel="nofollow" href="https://www.grupoisn.com.mx/en/home">New Filtration Services</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://www.grupoisn.com.mx/en/high-temperature-filter/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
