<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>News &#8211; New Filtration Services</title>
	<atom:link href="https://www.grupoisn.com.mx/en/category/news/feed/" rel="self" type="application/rss+xml" />
	<link>https://www.grupoisn.com.mx</link>
	<description>New Hispanic-Mexican Filtration Services</description>
	<lastBuildDate>Sun, 05 Apr 2020 04:49:03 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.6</generator>
	<item>
		<title>Preventive Measures Against COVID-19</title>
		<link>https://www.grupoisn.com.mx/en/preventive-measures-against-covid-19/</link>
		
		<dc:creator><![CDATA[admin_snf]]></dc:creator>
		<pubDate>Sun, 05 Apr 2020 04:44:20 +0000</pubDate>
				<category><![CDATA[News]]></category>
		<guid isPermaLink="false">https://www.grupoisn.com.mx/?p=1308</guid>

					<description><![CDATA[<p>Preventive measures COVID-19 At SNF we are concerned about the current crisis over COVID-19, which is why we have implemented a series of preventive measures to protect and care for ourselves.</p>
<p>El cargo <a rel="nofollow" href="https://www.grupoisn.com.mx/en/preventive-measures-against-covid-19/">Preventive Measures Against COVID-19</a> apareció primero en <a rel="nofollow" href="https://www.grupoisn.com.mx/en/home">New Filtration Services</a>.</p>
]]></description>
										<content:encoded><![CDATA[		<div data-elementor-type="wp-post" data-elementor-id="1308" class="elementor elementor-1308" data-elementor-settings="[]">
						<div class="elementor-inner">
							<div class="elementor-section-wrap">
							<section class="elementor-section elementor-top-section elementor-element elementor-element-4dba4f1 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="4dba4f1" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-39c10d6" data-id="39c10d6" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-b2b60b8 elementor-widget elementor-widget-heading" data-id="b2b60b8" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Preventive measures COVID-19</h2>		</div>
				</div>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-85e19c8 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="85e19c8" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-e136e82" data-id="e136e82" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-70baf5f elementor-widget elementor-widget-text-editor" data-id="70baf5f" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<p>At SNF we are concerned about the current crisis over COVID-19, which is why we have implemented a series of preventive measures to protect and care for ourselves.</p>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-18239ef" data-id="18239ef" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-b278cb9 elementor-widget elementor-widget-text-editor" data-id="b278cb9" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				
<iframe src="//docs.google.com/viewer?url=https%3A%2F%2Fwww.grupoisn.com.mx%2Fwp-content%2Fuploads%2F2020%2F04%2FMEDIDAS-COVID-19.pdf&#038;hl=es&#038;embedded=true" class="gde-frame" style="width:100%; height:300px; border: none;" scrolling="no"></iframe>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
						</div>
						</div>
					</div>
		<p>El cargo <a rel="nofollow" href="https://www.grupoisn.com.mx/en/preventive-measures-against-covid-19/">Preventive Measures Against COVID-19</a> apareció primero en <a rel="nofollow" href="https://www.grupoisn.com.mx/en/home">New Filtration Services</a>.</p>
]]></content:encoded>
					
		
		
			</item>
	</channel>
</rss>
