<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Filtros de Aire &#8211; Servicios Nuevos de Filtración</title>
	<atom:link href="https://www.grupoisn.com.mx/category/filtros-de-aire/feed/" rel="self" type="application/rss+xml" />
	<link>https://www.grupoisn.com.mx</link>
	<description>Servicios Nuevos de Filtración Hispano mexicanos Puebla</description>
	<lastBuildDate>Thu, 19 Mar 2020 04:23:17 +0000</lastBuildDate>
	<language>es-MX</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.6</generator>
	<item>
		<title>Filtro Bolsa</title>
		<link>https://www.grupoisn.com.mx/filtro-bolsa/</link>
					<comments>https://www.grupoisn.com.mx/filtro-bolsa/#respond</comments>
		
		<dc:creator><![CDATA[admin_snf]]></dc:creator>
		<pubDate>Mon, 02 Mar 2020 02:04:46 +0000</pubDate>
				<category><![CDATA[Filtros de Aire]]></category>
		<guid isPermaLink="false">https://www.grupoisn.com.mx/?p=662</guid>

					<description><![CDATA[<p>Previo Siguiente  </p>
<p>El cargo <a rel="nofollow" href="https://www.grupoisn.com.mx/filtro-bolsa/">Filtro Bolsa</a> apareció primero en <a rel="nofollow" href="https://www.grupoisn.com.mx">Servicios Nuevos de Filtración</a>.</p>
]]></description>
										<content:encoded><![CDATA[		<div data-elementor-type="wp-post" data-elementor-id="662" class="elementor elementor-662" data-elementor-settings="[]">
						<div class="elementor-inner">
							<div class="elementor-section-wrap">
							<section class="elementor-section elementor-top-section elementor-element elementor-element-885f00f elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="885f00f" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-9e73d13" data-id="9e73d13" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<section class="elementor-section elementor-inner-section elementor-element elementor-element-1038b00 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="1038b00" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-8e45ae0" data-id="8e45ae0" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-a14c231 elementor-widget elementor-widget-image" data-id="a14c231" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
								<div class="elementor-image">
												<img width="1024" height="683" src="https://www.grupoisn.com.mx/wp-content/uploads/2020/03/FILTRO-BOLSA-1024x683.jpg" class="elementor-animation-grow attachment-large size-large" alt="" loading="lazy" srcset="https://www.grupoisn.com.mx/wp-content/uploads/2020/03/FILTRO-BOLSA-1024x683.jpg 1024w, https://www.grupoisn.com.mx/wp-content/uploads/2020/03/FILTRO-BOLSA-300x200.jpg 300w, https://www.grupoisn.com.mx/wp-content/uploads/2020/03/FILTRO-BOLSA-768x512.jpg 768w, https://www.grupoisn.com.mx/wp-content/uploads/2020/03/FILTRO-BOLSA-1536x1024.jpg 1536w, https://www.grupoisn.com.mx/wp-content/uploads/2020/03/FILTRO-BOLSA-2048x1365.jpg 2048w, https://www.grupoisn.com.mx/wp-content/uploads/2020/03/FILTRO-BOLSA-930x620.jpg 930w" sizes="(max-width: 1024px) 100vw, 1024px" />														</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-0ab90f8 elementor-arrows-position-inside elementor-pagination-position-outside elementor-widget elementor-widget-image-carousel" data-id="0ab90f8" data-element_type="widget" data-settings="{&quot;navigation&quot;:&quot;both&quot;,&quot;autoplay&quot;:&quot;yes&quot;,&quot;pause_on_hover&quot;:&quot;yes&quot;,&quot;pause_on_interaction&quot;:&quot;yes&quot;,&quot;autoplay_speed&quot;:5000,&quot;infinite&quot;:&quot;yes&quot;,&quot;speed&quot;:500}" data-widget_type="image-carousel.default">
				<div class="elementor-widget-container">
					<div class="elementor-image-carousel-wrapper swiper-container" dir="ltr">
			<div class="elementor-image-carousel swiper-wrapper">
								<div class="swiper-slide"><a data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="0ab90f8" data-elementor-lightbox-title="Filtro 7" href="https://www.grupoisn.com.mx/wp-content/uploads/2020/03/Filtro-7-scaled.jpg"><figure class="swiper-slide-inner"><img class="swiper-slide-image" src="https://www.grupoisn.com.mx/wp-content/uploads/2020/03/Filtro-7-150x150.jpg" alt="Filtro 7" /></figure></a></div><div class="swiper-slide"><a data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="0ab90f8" data-elementor-lightbox-title="filtro 2" href="https://www.grupoisn.com.mx/wp-content/uploads/2020/03/filtro-2-scaled.jpg"><figure class="swiper-slide-inner"><img class="swiper-slide-image" src="https://www.grupoisn.com.mx/wp-content/uploads/2020/03/filtro-2-150x150.jpg" alt="filtro 2" /></figure></a></div>			</div>
												<div class="swiper-pagination"></div>
													<div class="elementor-swiper-button elementor-swiper-button-prev">
						<i aria-hidden="true" class="eicon-chevron-left"></i>						<span class="elementor-screen-only">Previo</span>
					</div>
					<div class="elementor-swiper-button elementor-swiper-button-next">
						<i aria-hidden="true" class="eicon-chevron-right"></i>						<span class="elementor-screen-only">Siguiente</span>
					</div>
									</div>
				</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-a3b7427" data-id="a3b7427" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-434c23c elementor-widget elementor-widget-text-editor" data-id="434c23c" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<table class="wp-list-table widefat fixed striped posts"><tbody id="the-list"><tr id="post-705" class="iedit author-self level-0 post-705 type-dae_download status-publish hentry"><td class="shortcode column-shortcode" data-colname="Shortcode"><style type="text/css">
		#dae-shortcode705-download-wrapper {
			background: url() !important;
			background-attachment: scroll !important;
		}
		#dae-shortcode705-download-wrapper .dae-shortcode-download-file-image {
			width:  !important;
		}
		#dae-shortcode705-download-wrapper.dae-shortcode-download-wrapper-wide .dae-shortcode-download-file-image {
			width:  !important;
		}
		#dae-shortcode705-download-wrapper .dae-shortcode-download-title {
			font-size: 40px !important;
			font-family: Poppins !important;
			color: #ffffff !important;
		}
		#dae-shortcode705-download-wrapper .dae-shortcode-download-text {
			font-size: 16px !important;
			font-family: Poppins !important;
			color: #ffffff !important;
		}
		#dae-shortcode705-download-wrapper .dae-shortcode-download-text h1,
		#dae-shortcode705-download-wrapper .dae-shortcode-download-text h2,
		#dae-shortcode705-download-wrapper .dae-shortcode-download-text h3,
		#dae-shortcode705-download-wrapper .dae-shortcode-download-text h4,
		#dae-shortcode705-download-wrapper .dae-shortcode-download-text h5 {
			font-family: Poppins !important;
		}
		#dae-shortcode705-download-wrapper .dae-shortcode-download-button {
			color: #ffffff !important;
			background: none !important;
			font-size: 25px !important;
			font-family: Poppins !important;
			width: auto !important;
			padding: 20px 8px !important;
			border-color: #1e303f !important;
			border-radius: 10px !important;
			-moz-border-radius: 10px !important;
			-webkit-border-radius: 10px !important;
		}
		#dae-shortcode705-download-wrapper .dae-shortcode-download-button:hover {
			color: #ffffff !important;
			background: #1e73be !important;
			border-color: #1e303f !important;
			font-size: 25px !important;
			font-family: Poppins !important;
			width: auto !important;
			padding: 20px 8px !important;
			border-radius: 10px !important;
			-moz-border-radius: 10px !important;
			-webkit-border-radius: 10px !important;
		}
		#dae-shortcode705-download-wrapper .dae-shortcode-register-label {
			font-size: 18px !important;
			font-family: Poppins !important;
			color: #ffffff !important;
		}
		#dae-shortcode705-download-wrapper .dae-shortcode-register-icon {
			height: calc(45px + 4px) !important;
			font-size: 15px !important;
			font-family: Poppins !important;
			padding: 15px !important;
			color: #ffffff !important;
			background: #1e303f !important;
			border-radius: 10px 0 0 10px !important;
			-moz-border-radius: 10px 0 0 10px !important;
			-webkit-border-radius: 10px 0 0 10px !important;
		}
		#dae-shortcode705-download-wrapper .dae-shortcode-register-field {
			height: calc(45px + 4px) !important;
			font-size: 15px !important;
			font-family: Poppins !important;
			padding: 15px !important;
			color: #1e303f !important;
			background: #f9f9f9 !important;
			border-radius: 0 10px 10px 0 !important;
			-moz-border-radius: 0 10px 10px 0 !important;
			-webkit-border-radius: 0 10px 10px 0 !important;
		}
		#dae-shortcode705-download-wrapper .dae-shortcode-register-select-icon {
			top: calc(50% - 7.5px) !important;
			right: 15px !important;
			font-size: 15px !important;
			font-family: Poppins !important;
			color: #1e303f !important;
		}
		#dae-shortcode705-download-wrapper .dae-shortcode-register-field::-webkit-input-placeholder,
		#dae-shortcode705-download-wrapper .dae-shortcode-register-field::placeholder {
			color: #1e303f !important;
			font-family: Poppins !important;
		}
		#dae-shortcode705-download-wrapper .dae-shortcode-register-field::-ms-input-placeholder {
			color: #1e303f !important;
			font-family: Poppins !important;
		}
		#dae-shortcode705-download-wrapper .dae-shortcode-register-checkbox-text {
			color: #1e303f !important;
			font-size: 12px !important;
			font-family: Poppins !important;
		}
		#dae-shortcode705-download-wrapper .dae-shortcode-register-checkbox-text a {
			color: #1e73be !important;
		}
		#dae-shortcode705-download-wrapper .dae-shortcode-register-checkbox-text a:hover {
			color: #1e73be !important;
		}
		#dae-shortcode705-download-wrapper .dae-shortcode-register-submit {
			color: #ffffff !important;
			font-size: 18px !important;
			font-family: Poppins !important;
			padding: 18px !important;
			background: #1e303f !important;
			border-radius: 10px !important;
			-moz-border-radius: 10px !important;
			-webkit-border-radius: 10px !important;
		}
		#dae-shortcode705-download-wrapper .dae-shortcode-register-submit:hover {
			color: #ffffff !important;
			background: #263b59 !important;
			font-size: 18px !important;
			font-family: Poppins !important;
			padding: 18px !important;
			border-radius: 10px !important;
			-moz-border-radius: 10px !important;
			-webkit-border-radius: 10px !important;
		}
		#dae-shortcode705-download-wrapper .dae-shortcode-register-loading {
			color: #1e303f !important;
		}
		#dae-shortcode705-download-wrapper .dae-shortcode-register-message {
			font-size: 16px !important;
			font-family: Poppins !important;
		}
		#dae-shortcode705-download-wrapper .dae-shortcode-register-error {
			color: #1e303f !important;
		}
		#dae-shortcode705-download-wrapper .dae-shortcode-register-success {
			color: #ffffff !important;
		}
		#dae-shortcode705-download-wrapper .dae-shortcode-register-category-interests h4,
		#dae-shortcode705-download-wrapper .dae-shortcode-register-input-wrap-interest label {
			font-family: Poppins !important;
		}
		#dae-shortcode705-download-wrapper {
			align-items:  !important;
			-webkit-align-items:  !important;
			justify-content: flex-start !important;
			-webkit-justify-content: flex-start !important;
			-moz-justify-content: fle-start !important;
		}
		#dae-shortcode705-download-wrapper .dae-shortcode-download-content-wrapper,
		#dae-shortcode705-download-wrapper .dae-shortcode-download-title,
		#dae-shortcode705-download-wrapper .dae-shortcode-download-text,
		#dae-shortcode705-download-wrapper .dae-shortcode-register-wrapper p,
		#dae-shortcode705-download-wrapper .dae-shortcode-register-category-interests-wrap {
			text-align:  !important;
		}
		#dae-shortcode705-download-wrapper .dae-shortcode-register-field-wrap {
			justify-content:  !important;
			-webkit-justify-content:  !important;
			-moz-justify-content:  !important;
		}
		#dae-shortcode705-download-wrapper .dae-shortcode-register-label,
		#dae-shortcode705-download-wrapper .dae-shortcode-register-message,
		#dae-shortcode705-download-wrapper .dae-shortcode-register-category-interests-wrap {
			margin:  !important;
		}
		#dae-shortcode705-download-wrapper.dae-shortcode-download-wrapper-wide {
			align-items: center !important;
			-webkit-align-items: center !important;
			justify-content:  !important;
			-webkit-justify-content:  !important;
			-moz-justify-content:  !important;
		}
		#dae-shortcode705-download-wrapper.dae-shortcode-download-wrapper-wide .dae-shortcode-download-content-wrapper,
		#dae-shortcode705-download-wrapper.dae-shortcode-download-wrapper-wide .dae-shortcode-download-title,
		#dae-shortcode705-download-wrapper.dae-shortcode-download-wrapper-wide .dae-shortcode-download-text,
		#dae-shortcode705-download-wrapper.dae-shortcode-download-wrapper-wide .dae-shortcode-register-wrapper p,
		#dae-shortcode705-download-wrapper.dae-shortcode-download-wrapper-wide .dae-shortcode-register-category-interests-wrap {
			text-align:  !important;
		}
		#dae-shortcode705-download-wrapper.dae-shortcode-download-wrapper-wide .dae-shortcode-register-field-wrap {
			justify-content:  !important;
			-webkit-justify-content:  !important;
			-moz-justify-content:  !important;
		}
		#dae-shortcode705-download-wrapper.dae-shortcode-download-wrapper-wide .dae-shortcode-register-label,
		#dae-shortcode705-download-wrapper.dae-shortcode-download-wrapper-wide .dae-shortcode-register-message,
		#dae-shortcode705-download-wrapper.dae-shortcode-download-wrapper-wide .dae-shortcode-register-category-interests-wrap {
			margin:  !important;
		}
	</style>
		<div id="dae-shortcode705-download-wrapper" class="dae-shortcode-download-wrapper">
			
			<div class="dae-shortcode-download-content-wrapper">
				<h2 class="dae-shortcode-download-title">Filtro Bolsa</h2>
				
				<div class="dae-shortcode-download-button">
					<span class="dae-shortcode-download-button-icon"><i class="fas fa-download"></i></span>
					<span class="dae-shortcode-download-button-text">Descargar ficha técnica</span>
				</div>
				<div class="dae-shortcode-register-wrapper">
					<p class="dae-shortcode-register-label">Enviar link a:</p>
					<form class="dae-shortcode-register-form" method="post" novalidate="novalidate">
						<input type="hidden" name="file" value="FICHA-TECNICA-FILTRO-BOLSA.pdf" />
						<div class="dae-shortcode-register-field-wrap"><div class="dae-shortcode-register-icon"><i class="fas fa-envelope"></i></div><div class="dae-shortcode-register-input-wrap"><input class="dae-shortcode-register-field" type="email" name="email" placeholder="Email" autocomplete="off" /></div></div>
						
						
						<p>
							<input class="dae-shortcode-register-submit" type="submit" value="Aceptar" />
						</p>
						<p class="dae-shortcode-register-loading">
							<i class="fas fa-spinner fa-spin"></i>
						</p>
					</form>
					<p class="dae-shortcode-register-message"></p>
				</div>
			</div>
		</div>
	</td></tr></tbody></table><p> </p>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
						</div>
						</div>
					</div>
		<p>El cargo <a rel="nofollow" href="https://www.grupoisn.com.mx/filtro-bolsa/">Filtro Bolsa</a> apareció primero en <a rel="nofollow" href="https://www.grupoisn.com.mx">Servicios Nuevos de Filtración</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://www.grupoisn.com.mx/filtro-bolsa/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Filtro Cubo</title>
		<link>https://www.grupoisn.com.mx/filtro-cubo/</link>
					<comments>https://www.grupoisn.com.mx/filtro-cubo/#respond</comments>
		
		<dc:creator><![CDATA[admin_snf]]></dc:creator>
		<pubDate>Mon, 02 Mar 2020 02:01:29 +0000</pubDate>
				<category><![CDATA[Filtros de Aire]]></category>
		<guid isPermaLink="false">https://www.grupoisn.com.mx/?p=656</guid>

					<description><![CDATA[<p>Previo Siguiente  </p>
<p>El cargo <a rel="nofollow" href="https://www.grupoisn.com.mx/filtro-cubo/">Filtro Cubo</a> apareció primero en <a rel="nofollow" href="https://www.grupoisn.com.mx">Servicios Nuevos de Filtración</a>.</p>
]]></description>
										<content:encoded><![CDATA[		<div data-elementor-type="wp-post" data-elementor-id="656" class="elementor elementor-656" data-elementor-settings="[]">
						<div class="elementor-inner">
							<div class="elementor-section-wrap">
							<section class="elementor-section elementor-top-section elementor-element elementor-element-885f00f elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="885f00f" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-9e73d13" data-id="9e73d13" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<section class="elementor-section elementor-inner-section elementor-element elementor-element-1038b00 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="1038b00" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-8e45ae0" data-id="8e45ae0" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-a14c231 elementor-widget elementor-widget-image" data-id="a14c231" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
								<div class="elementor-image">
												<img width="1024" height="683" src="https://www.grupoisn.com.mx/wp-content/uploads/2020/03/FILTRO-CUBO-1024x683.jpg" class="elementor-animation-grow attachment-large size-large" alt="" loading="lazy" srcset="https://www.grupoisn.com.mx/wp-content/uploads/2020/03/FILTRO-CUBO-1024x683.jpg 1024w, https://www.grupoisn.com.mx/wp-content/uploads/2020/03/FILTRO-CUBO-300x200.jpg 300w, https://www.grupoisn.com.mx/wp-content/uploads/2020/03/FILTRO-CUBO-768x512.jpg 768w, https://www.grupoisn.com.mx/wp-content/uploads/2020/03/FILTRO-CUBO-1536x1024.jpg 1536w, https://www.grupoisn.com.mx/wp-content/uploads/2020/03/FILTRO-CUBO-2048x1365.jpg 2048w, https://www.grupoisn.com.mx/wp-content/uploads/2020/03/FILTRO-CUBO-930x620.jpg 930w" sizes="(max-width: 1024px) 100vw, 1024px" />														</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-ceba16e elementor-arrows-position-inside elementor-pagination-position-outside elementor-widget elementor-widget-image-carousel" data-id="ceba16e" data-element_type="widget" data-settings="{&quot;navigation&quot;:&quot;both&quot;,&quot;autoplay&quot;:&quot;yes&quot;,&quot;pause_on_hover&quot;:&quot;yes&quot;,&quot;pause_on_interaction&quot;:&quot;yes&quot;,&quot;autoplay_speed&quot;:5000,&quot;infinite&quot;:&quot;yes&quot;,&quot;speed&quot;:500}" data-widget_type="image-carousel.default">
				<div class="elementor-widget-container">
					<div class="elementor-image-carousel-wrapper swiper-container" dir="ltr">
			<div class="elementor-image-carousel swiper-wrapper">
								<div class="swiper-slide"><a data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="ceba16e" data-elementor-lightbox-title="CUBO AZUL" href="https://www.grupoisn.com.mx/wp-content/uploads/2020/03/CUBO-AZUL.jpg"><figure class="swiper-slide-inner"><img class="swiper-slide-image" src="https://www.grupoisn.com.mx/wp-content/uploads/2020/03/CUBO-AZUL-150x150.jpg" alt="CUBO AZUL" /></figure></a></div><div class="swiper-slide"><a data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="ceba16e" data-elementor-lightbox-title="IMG_3576" href="https://www.grupoisn.com.mx/wp-content/uploads/2020/03/IMG_3576-scaled.jpg"><figure class="swiper-slide-inner"><img class="swiper-slide-image" src="https://www.grupoisn.com.mx/wp-content/uploads/2020/03/IMG_3576-150x150.jpg" alt="IMG_3576" /></figure></a></div>			</div>
												<div class="swiper-pagination"></div>
													<div class="elementor-swiper-button elementor-swiper-button-prev">
						<i aria-hidden="true" class="eicon-chevron-left"></i>						<span class="elementor-screen-only">Previo</span>
					</div>
					<div class="elementor-swiper-button elementor-swiper-button-next">
						<i aria-hidden="true" class="eicon-chevron-right"></i>						<span class="elementor-screen-only">Siguiente</span>
					</div>
									</div>
				</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-a3b7427" data-id="a3b7427" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-434c23c elementor-widget elementor-widget-text-editor" data-id="434c23c" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<table class="wp-list-table widefat fixed striped posts"><tbody id="the-list"><tr id="post-703" class="iedit author-self level-0 post-703 type-dae_download status-publish hentry"><td class="shortcode column-shortcode" data-colname="Shortcode"><style type="text/css">
		#dae-shortcode703-download-wrapper {
			background: url() !important;
			background-attachment: scroll !important;
		}
		#dae-shortcode703-download-wrapper .dae-shortcode-download-file-image {
			width:  !important;
		}
		#dae-shortcode703-download-wrapper.dae-shortcode-download-wrapper-wide .dae-shortcode-download-file-image {
			width:  !important;
		}
		#dae-shortcode703-download-wrapper .dae-shortcode-download-title {
			font-size: 40px !important;
			font-family: Poppins !important;
			color: #ffffff !important;
		}
		#dae-shortcode703-download-wrapper .dae-shortcode-download-text {
			font-size: 16px !important;
			font-family: Poppins !important;
			color: #ffffff !important;
		}
		#dae-shortcode703-download-wrapper .dae-shortcode-download-text h1,
		#dae-shortcode703-download-wrapper .dae-shortcode-download-text h2,
		#dae-shortcode703-download-wrapper .dae-shortcode-download-text h3,
		#dae-shortcode703-download-wrapper .dae-shortcode-download-text h4,
		#dae-shortcode703-download-wrapper .dae-shortcode-download-text h5 {
			font-family: Poppins !important;
		}
		#dae-shortcode703-download-wrapper .dae-shortcode-download-button {
			color: #ffffff !important;
			background: none !important;
			font-size: 25px !important;
			font-family: Poppins !important;
			width: auto !important;
			padding: 20px 8px !important;
			border-color: #1e303f !important;
			border-radius: 10px !important;
			-moz-border-radius: 10px !important;
			-webkit-border-radius: 10px !important;
		}
		#dae-shortcode703-download-wrapper .dae-shortcode-download-button:hover {
			color: #ffffff !important;
			background: #1e73be !important;
			border-color: #1e303f !important;
			font-size: 25px !important;
			font-family: Poppins !important;
			width: auto !important;
			padding: 20px 8px !important;
			border-radius: 10px !important;
			-moz-border-radius: 10px !important;
			-webkit-border-radius: 10px !important;
		}
		#dae-shortcode703-download-wrapper .dae-shortcode-register-label {
			font-size: 18px !important;
			font-family: Poppins !important;
			color: #ffffff !important;
		}
		#dae-shortcode703-download-wrapper .dae-shortcode-register-icon {
			height: calc(45px + 4px) !important;
			font-size: 15px !important;
			font-family: Poppins !important;
			padding: 15px !important;
			color: #ffffff !important;
			background: #1e303f !important;
			border-radius: 10px 0 0 10px !important;
			-moz-border-radius: 10px 0 0 10px !important;
			-webkit-border-radius: 10px 0 0 10px !important;
		}
		#dae-shortcode703-download-wrapper .dae-shortcode-register-field {
			height: calc(45px + 4px) !important;
			font-size: 15px !important;
			font-family: Poppins !important;
			padding: 15px !important;
			color: #1e303f !important;
			background: #f9f9f9 !important;
			border-radius: 0 10px 10px 0 !important;
			-moz-border-radius: 0 10px 10px 0 !important;
			-webkit-border-radius: 0 10px 10px 0 !important;
		}
		#dae-shortcode703-download-wrapper .dae-shortcode-register-select-icon {
			top: calc(50% - 7.5px) !important;
			right: 15px !important;
			font-size: 15px !important;
			font-family: Poppins !important;
			color: #1e303f !important;
		}
		#dae-shortcode703-download-wrapper .dae-shortcode-register-field::-webkit-input-placeholder,
		#dae-shortcode703-download-wrapper .dae-shortcode-register-field::placeholder {
			color: #1e303f !important;
			font-family: Poppins !important;
		}
		#dae-shortcode703-download-wrapper .dae-shortcode-register-field::-ms-input-placeholder {
			color: #1e303f !important;
			font-family: Poppins !important;
		}
		#dae-shortcode703-download-wrapper .dae-shortcode-register-checkbox-text {
			color: #1e303f !important;
			font-size: 12px !important;
			font-family: Poppins !important;
		}
		#dae-shortcode703-download-wrapper .dae-shortcode-register-checkbox-text a {
			color: #1e73be !important;
		}
		#dae-shortcode703-download-wrapper .dae-shortcode-register-checkbox-text a:hover {
			color: #1e73be !important;
		}
		#dae-shortcode703-download-wrapper .dae-shortcode-register-submit {
			color: #ffffff !important;
			font-size: 18px !important;
			font-family: Poppins !important;
			padding: 18px !important;
			background: #1e303f !important;
			border-radius: 10px !important;
			-moz-border-radius: 10px !important;
			-webkit-border-radius: 10px !important;
		}
		#dae-shortcode703-download-wrapper .dae-shortcode-register-submit:hover {
			color: #ffffff !important;
			background: #263b59 !important;
			font-size: 18px !important;
			font-family: Poppins !important;
			padding: 18px !important;
			border-radius: 10px !important;
			-moz-border-radius: 10px !important;
			-webkit-border-radius: 10px !important;
		}
		#dae-shortcode703-download-wrapper .dae-shortcode-register-loading {
			color: #1e303f !important;
		}
		#dae-shortcode703-download-wrapper .dae-shortcode-register-message {
			font-size: 16px !important;
			font-family: Poppins !important;
		}
		#dae-shortcode703-download-wrapper .dae-shortcode-register-error {
			color: #1e303f !important;
		}
		#dae-shortcode703-download-wrapper .dae-shortcode-register-success {
			color: #ffffff !important;
		}
		#dae-shortcode703-download-wrapper .dae-shortcode-register-category-interests h4,
		#dae-shortcode703-download-wrapper .dae-shortcode-register-input-wrap-interest label {
			font-family: Poppins !important;
		}
		#dae-shortcode703-download-wrapper {
			align-items:  !important;
			-webkit-align-items:  !important;
			justify-content: flex-start !important;
			-webkit-justify-content: flex-start !important;
			-moz-justify-content: fle-start !important;
		}
		#dae-shortcode703-download-wrapper .dae-shortcode-download-content-wrapper,
		#dae-shortcode703-download-wrapper .dae-shortcode-download-title,
		#dae-shortcode703-download-wrapper .dae-shortcode-download-text,
		#dae-shortcode703-download-wrapper .dae-shortcode-register-wrapper p,
		#dae-shortcode703-download-wrapper .dae-shortcode-register-category-interests-wrap {
			text-align:  !important;
		}
		#dae-shortcode703-download-wrapper .dae-shortcode-register-field-wrap {
			justify-content:  !important;
			-webkit-justify-content:  !important;
			-moz-justify-content:  !important;
		}
		#dae-shortcode703-download-wrapper .dae-shortcode-register-label,
		#dae-shortcode703-download-wrapper .dae-shortcode-register-message,
		#dae-shortcode703-download-wrapper .dae-shortcode-register-category-interests-wrap {
			margin:  !important;
		}
		#dae-shortcode703-download-wrapper.dae-shortcode-download-wrapper-wide {
			align-items: center !important;
			-webkit-align-items: center !important;
			justify-content:  !important;
			-webkit-justify-content:  !important;
			-moz-justify-content:  !important;
		}
		#dae-shortcode703-download-wrapper.dae-shortcode-download-wrapper-wide .dae-shortcode-download-content-wrapper,
		#dae-shortcode703-download-wrapper.dae-shortcode-download-wrapper-wide .dae-shortcode-download-title,
		#dae-shortcode703-download-wrapper.dae-shortcode-download-wrapper-wide .dae-shortcode-download-text,
		#dae-shortcode703-download-wrapper.dae-shortcode-download-wrapper-wide .dae-shortcode-register-wrapper p,
		#dae-shortcode703-download-wrapper.dae-shortcode-download-wrapper-wide .dae-shortcode-register-category-interests-wrap {
			text-align:  !important;
		}
		#dae-shortcode703-download-wrapper.dae-shortcode-download-wrapper-wide .dae-shortcode-register-field-wrap {
			justify-content:  !important;
			-webkit-justify-content:  !important;
			-moz-justify-content:  !important;
		}
		#dae-shortcode703-download-wrapper.dae-shortcode-download-wrapper-wide .dae-shortcode-register-label,
		#dae-shortcode703-download-wrapper.dae-shortcode-download-wrapper-wide .dae-shortcode-register-message,
		#dae-shortcode703-download-wrapper.dae-shortcode-download-wrapper-wide .dae-shortcode-register-category-interests-wrap {
			margin:  !important;
		}
	</style>
		<div id="dae-shortcode703-download-wrapper" class="dae-shortcode-download-wrapper">
			
			<div class="dae-shortcode-download-content-wrapper">
				<h2 class="dae-shortcode-download-title">Filtro Cubo</h2>
				
				<div class="dae-shortcode-download-button">
					<span class="dae-shortcode-download-button-icon"><i class="fas fa-download"></i></span>
					<span class="dae-shortcode-download-button-text">Descargar ficha técnica</span>
				</div>
				<div class="dae-shortcode-register-wrapper">
					<p class="dae-shortcode-register-label">Enviar link a:</p>
					<form class="dae-shortcode-register-form" method="post" novalidate="novalidate">
						<input type="hidden" name="file" value="FICHA-TECNICA-FILTRO-CUBO.pdf" />
						<div class="dae-shortcode-register-field-wrap"><div class="dae-shortcode-register-icon"><i class="fas fa-envelope"></i></div><div class="dae-shortcode-register-input-wrap"><input class="dae-shortcode-register-field" type="email" name="email" placeholder="Email" autocomplete="off" /></div></div>
						
						
						<p>
							<input class="dae-shortcode-register-submit" type="submit" value="Aceptar" />
						</p>
						<p class="dae-shortcode-register-loading">
							<i class="fas fa-spinner fa-spin"></i>
						</p>
					</form>
					<p class="dae-shortcode-register-message"></p>
				</div>
			</div>
		</div>
	</td></tr></tbody></table><p> </p>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
						</div>
						</div>
					</div>
		<p>El cargo <a rel="nofollow" href="https://www.grupoisn.com.mx/filtro-cubo/">Filtro Cubo</a> apareció primero en <a rel="nofollow" href="https://www.grupoisn.com.mx">Servicios Nuevos de Filtración</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://www.grupoisn.com.mx/filtro-cubo/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Filtro Panel</title>
		<link>https://www.grupoisn.com.mx/filtro-panel/</link>
					<comments>https://www.grupoisn.com.mx/filtro-panel/#respond</comments>
		
		<dc:creator><![CDATA[admin_snf]]></dc:creator>
		<pubDate>Mon, 02 Mar 2020 01:10:38 +0000</pubDate>
				<category><![CDATA[Filtros de Aire]]></category>
		<guid isPermaLink="false">https://www.grupoisn.com.mx/?p=634</guid>

					<description><![CDATA[<p>Previo Siguiente  </p>
<p>El cargo <a rel="nofollow" href="https://www.grupoisn.com.mx/filtro-panel/">Filtro Panel</a> apareció primero en <a rel="nofollow" href="https://www.grupoisn.com.mx">Servicios Nuevos de Filtración</a>.</p>
]]></description>
										<content:encoded><![CDATA[		<div data-elementor-type="wp-post" data-elementor-id="634" class="elementor elementor-634" data-elementor-settings="[]">
						<div class="elementor-inner">
							<div class="elementor-section-wrap">
							<section class="elementor-section elementor-top-section elementor-element elementor-element-885f00f elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="885f00f" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-9e73d13" data-id="9e73d13" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<section class="elementor-section elementor-inner-section elementor-element elementor-element-1038b00 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="1038b00" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-8e45ae0" data-id="8e45ae0" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-a14c231 elementor-widget elementor-widget-image" data-id="a14c231" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
								<div class="elementor-image">
												<img width="1024" height="683" src="https://www.grupoisn.com.mx/wp-content/uploads/2020/03/FILTRO-PANEL-1024x683.jpg" class="elementor-animation-grow attachment-large size-large" alt="" loading="lazy" srcset="https://www.grupoisn.com.mx/wp-content/uploads/2020/03/FILTRO-PANEL-1024x683.jpg 1024w, https://www.grupoisn.com.mx/wp-content/uploads/2020/03/FILTRO-PANEL-300x200.jpg 300w, https://www.grupoisn.com.mx/wp-content/uploads/2020/03/FILTRO-PANEL-768x512.jpg 768w, https://www.grupoisn.com.mx/wp-content/uploads/2020/03/FILTRO-PANEL-1536x1024.jpg 1536w, https://www.grupoisn.com.mx/wp-content/uploads/2020/03/FILTRO-PANEL-2048x1365.jpg 2048w, https://www.grupoisn.com.mx/wp-content/uploads/2020/03/FILTRO-PANEL-930x620.jpg 930w" sizes="(max-width: 1024px) 100vw, 1024px" />														</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-19770be elementor-arrows-position-inside elementor-pagination-position-outside elementor-widget elementor-widget-image-carousel" data-id="19770be" data-element_type="widget" data-settings="{&quot;navigation&quot;:&quot;both&quot;,&quot;autoplay&quot;:&quot;yes&quot;,&quot;pause_on_hover&quot;:&quot;yes&quot;,&quot;pause_on_interaction&quot;:&quot;yes&quot;,&quot;autoplay_speed&quot;:5000,&quot;infinite&quot;:&quot;yes&quot;,&quot;speed&quot;:500}" data-widget_type="image-carousel.default">
				<div class="elementor-widget-container">
					<div class="elementor-image-carousel-wrapper swiper-container" dir="ltr">
			<div class="elementor-image-carousel swiper-wrapper">
								<div class="swiper-slide"><a data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="19770be" data-elementor-lightbox-title="AMERSEAL BLUE" href="https://www.grupoisn.com.mx/wp-content/uploads/2020/03/AMERSEAL-BLUE.jpg"><figure class="swiper-slide-inner"><img class="swiper-slide-image" src="https://www.grupoisn.com.mx/wp-content/uploads/2020/03/AMERSEAL-BLUE-150x150.jpg" alt="AMERSEAL BLUE" /></figure></a></div><div class="swiper-slide"><a data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="19770be" data-elementor-lightbox-title="PANEL" href="https://www.grupoisn.com.mx/wp-content/uploads/2020/03/PANEL-scaled.jpg"><figure class="swiper-slide-inner"><img class="swiper-slide-image" src="https://www.grupoisn.com.mx/wp-content/uploads/2020/03/PANEL-150x150.jpg" alt="PANEL" /></figure></a></div><div class="swiper-slide"><a data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="19770be" data-elementor-lightbox-title="FILTRO PANEL" href="https://www.grupoisn.com.mx/wp-content/uploads/2020/03/FILTRO-PANEL-scaled.jpg"><figure class="swiper-slide-inner"><img class="swiper-slide-image" src="https://www.grupoisn.com.mx/wp-content/uploads/2020/03/FILTRO-PANEL-150x150.jpg" alt="FILTRO PANEL" /></figure></a></div>			</div>
												<div class="swiper-pagination"></div>
													<div class="elementor-swiper-button elementor-swiper-button-prev">
						<i aria-hidden="true" class="eicon-chevron-left"></i>						<span class="elementor-screen-only">Previo</span>
					</div>
					<div class="elementor-swiper-button elementor-swiper-button-next">
						<i aria-hidden="true" class="eicon-chevron-right"></i>						<span class="elementor-screen-only">Siguiente</span>
					</div>
									</div>
				</div>
				</div>
						</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-a3b7427" data-id="a3b7427" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
							<div class="elementor-widget-wrap">
						<div class="elementor-element elementor-element-434c23c elementor-widget elementor-widget-text-editor" data-id="434c23c" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
								<div class="elementor-text-editor elementor-clearfix">
				<table class="wp-list-table widefat fixed striped posts"><tbody id="the-list"><tr id="post-651" class="iedit author-self level-0 post-651 type-dae_download status-publish hentry"><td class="shortcode column-shortcode" data-colname="Shortcode"><style type="text/css">
		#dae-shortcode651-download-wrapper {
			background: url() !important;
			background-attachment: scroll !important;
		}
		#dae-shortcode651-download-wrapper .dae-shortcode-download-file-image {
			width:  !important;
		}
		#dae-shortcode651-download-wrapper.dae-shortcode-download-wrapper-wide .dae-shortcode-download-file-image {
			width:  !important;
		}
		#dae-shortcode651-download-wrapper .dae-shortcode-download-title {
			font-size: 40px !important;
			font-family: Poppins !important;
			color: #ffffff !important;
		}
		#dae-shortcode651-download-wrapper .dae-shortcode-download-text {
			font-size: 16px !important;
			font-family: Poppins !important;
			color: #ffffff !important;
		}
		#dae-shortcode651-download-wrapper .dae-shortcode-download-text h1,
		#dae-shortcode651-download-wrapper .dae-shortcode-download-text h2,
		#dae-shortcode651-download-wrapper .dae-shortcode-download-text h3,
		#dae-shortcode651-download-wrapper .dae-shortcode-download-text h4,
		#dae-shortcode651-download-wrapper .dae-shortcode-download-text h5 {
			font-family: Poppins !important;
		}
		#dae-shortcode651-download-wrapper .dae-shortcode-download-button {
			color: #ffffff !important;
			background: none !important;
			font-size: 25px !important;
			font-family: Poppins !important;
			width: auto !important;
			padding: 20px 8px !important;
			border-color: #1e303f !important;
			border-radius: 10px !important;
			-moz-border-radius: 10px !important;
			-webkit-border-radius: 10px !important;
		}
		#dae-shortcode651-download-wrapper .dae-shortcode-download-button:hover {
			color: #ffffff !important;
			background: #1e73be !important;
			border-color: #1e303f !important;
			font-size: 25px !important;
			font-family: Poppins !important;
			width: auto !important;
			padding: 20px 8px !important;
			border-radius: 10px !important;
			-moz-border-radius: 10px !important;
			-webkit-border-radius: 10px !important;
		}
		#dae-shortcode651-download-wrapper .dae-shortcode-register-label {
			font-size: 18px !important;
			font-family: Poppins !important;
			color: #ffffff !important;
		}
		#dae-shortcode651-download-wrapper .dae-shortcode-register-icon {
			height: calc(45px + 4px) !important;
			font-size: 15px !important;
			font-family: Poppins !important;
			padding: 15px !important;
			color: #ffffff !important;
			background: #1e303f !important;
			border-radius: 10px 0 0 10px !important;
			-moz-border-radius: 10px 0 0 10px !important;
			-webkit-border-radius: 10px 0 0 10px !important;
		}
		#dae-shortcode651-download-wrapper .dae-shortcode-register-field {
			height: calc(45px + 4px) !important;
			font-size: 15px !important;
			font-family: Poppins !important;
			padding: 15px !important;
			color: #1e303f !important;
			background: #f9f9f9 !important;
			border-radius: 0 10px 10px 0 !important;
			-moz-border-radius: 0 10px 10px 0 !important;
			-webkit-border-radius: 0 10px 10px 0 !important;
		}
		#dae-shortcode651-download-wrapper .dae-shortcode-register-select-icon {
			top: calc(50% - 7.5px) !important;
			right: 15px !important;
			font-size: 15px !important;
			font-family: Poppins !important;
			color: #1e303f !important;
		}
		#dae-shortcode651-download-wrapper .dae-shortcode-register-field::-webkit-input-placeholder,
		#dae-shortcode651-download-wrapper .dae-shortcode-register-field::placeholder {
			color: #1e303f !important;
			font-family: Poppins !important;
		}
		#dae-shortcode651-download-wrapper .dae-shortcode-register-field::-ms-input-placeholder {
			color: #1e303f !important;
			font-family: Poppins !important;
		}
		#dae-shortcode651-download-wrapper .dae-shortcode-register-checkbox-text {
			color: #1e303f !important;
			font-size: 12px !important;
			font-family: Poppins !important;
		}
		#dae-shortcode651-download-wrapper .dae-shortcode-register-checkbox-text a {
			color: #1e73be !important;
		}
		#dae-shortcode651-download-wrapper .dae-shortcode-register-checkbox-text a:hover {
			color: #1e73be !important;
		}
		#dae-shortcode651-download-wrapper .dae-shortcode-register-submit {
			color: #ffffff !important;
			font-size: 18px !important;
			font-family: Poppins !important;
			padding: 18px !important;
			background: #1e303f !important;
			border-radius: 10px !important;
			-moz-border-radius: 10px !important;
			-webkit-border-radius: 10px !important;
		}
		#dae-shortcode651-download-wrapper .dae-shortcode-register-submit:hover {
			color: #ffffff !important;
			background: #263b59 !important;
			font-size: 18px !important;
			font-family: Poppins !important;
			padding: 18px !important;
			border-radius: 10px !important;
			-moz-border-radius: 10px !important;
			-webkit-border-radius: 10px !important;
		}
		#dae-shortcode651-download-wrapper .dae-shortcode-register-loading {
			color: #1e303f !important;
		}
		#dae-shortcode651-download-wrapper .dae-shortcode-register-message {
			font-size: 16px !important;
			font-family: Poppins !important;
		}
		#dae-shortcode651-download-wrapper .dae-shortcode-register-error {
			color: #1e303f !important;
		}
		#dae-shortcode651-download-wrapper .dae-shortcode-register-success {
			color: #ffffff !important;
		}
		#dae-shortcode651-download-wrapper .dae-shortcode-register-category-interests h4,
		#dae-shortcode651-download-wrapper .dae-shortcode-register-input-wrap-interest label {
			font-family: Poppins !important;
		}
		#dae-shortcode651-download-wrapper {
			align-items:  !important;
			-webkit-align-items:  !important;
			justify-content: flex-start !important;
			-webkit-justify-content: flex-start !important;
			-moz-justify-content: fle-start !important;
		}
		#dae-shortcode651-download-wrapper .dae-shortcode-download-content-wrapper,
		#dae-shortcode651-download-wrapper .dae-shortcode-download-title,
		#dae-shortcode651-download-wrapper .dae-shortcode-download-text,
		#dae-shortcode651-download-wrapper .dae-shortcode-register-wrapper p,
		#dae-shortcode651-download-wrapper .dae-shortcode-register-category-interests-wrap {
			text-align:  !important;
		}
		#dae-shortcode651-download-wrapper .dae-shortcode-register-field-wrap {
			justify-content:  !important;
			-webkit-justify-content:  !important;
			-moz-justify-content:  !important;
		}
		#dae-shortcode651-download-wrapper .dae-shortcode-register-label,
		#dae-shortcode651-download-wrapper .dae-shortcode-register-message,
		#dae-shortcode651-download-wrapper .dae-shortcode-register-category-interests-wrap {
			margin:  !important;
		}
		#dae-shortcode651-download-wrapper.dae-shortcode-download-wrapper-wide {
			align-items: center !important;
			-webkit-align-items: center !important;
			justify-content:  !important;
			-webkit-justify-content:  !important;
			-moz-justify-content:  !important;
		}
		#dae-shortcode651-download-wrapper.dae-shortcode-download-wrapper-wide .dae-shortcode-download-content-wrapper,
		#dae-shortcode651-download-wrapper.dae-shortcode-download-wrapper-wide .dae-shortcode-download-title,
		#dae-shortcode651-download-wrapper.dae-shortcode-download-wrapper-wide .dae-shortcode-download-text,
		#dae-shortcode651-download-wrapper.dae-shortcode-download-wrapper-wide .dae-shortcode-register-wrapper p,
		#dae-shortcode651-download-wrapper.dae-shortcode-download-wrapper-wide .dae-shortcode-register-category-interests-wrap {
			text-align:  !important;
		}
		#dae-shortcode651-download-wrapper.dae-shortcode-download-wrapper-wide .dae-shortcode-register-field-wrap {
			justify-content:  !important;
			-webkit-justify-content:  !important;
			-moz-justify-content:  !important;
		}
		#dae-shortcode651-download-wrapper.dae-shortcode-download-wrapper-wide .dae-shortcode-register-label,
		#dae-shortcode651-download-wrapper.dae-shortcode-download-wrapper-wide .dae-shortcode-register-message,
		#dae-shortcode651-download-wrapper.dae-shortcode-download-wrapper-wide .dae-shortcode-register-category-interests-wrap {
			margin:  !important;
		}
	</style>
		<div id="dae-shortcode651-download-wrapper" class="dae-shortcode-download-wrapper">
			
			<div class="dae-shortcode-download-content-wrapper">
				<h2 class="dae-shortcode-download-title">Filtro Panel</h2>
				
				<div class="dae-shortcode-download-button">
					<span class="dae-shortcode-download-button-icon"><i class="fas fa-download"></i></span>
					<span class="dae-shortcode-download-button-text">Descargar ficha técnica</span>
				</div>
				<div class="dae-shortcode-register-wrapper">
					<p class="dae-shortcode-register-label">Enviar link a:</p>
					<form class="dae-shortcode-register-form" method="post" novalidate="novalidate">
						<input type="hidden" name="file" value="FICHA-TECNICA-FILTRO-PANEL.pdf" />
						<div class="dae-shortcode-register-field-wrap"><div class="dae-shortcode-register-icon"><i class="fas fa-envelope"></i></div><div class="dae-shortcode-register-input-wrap"><input class="dae-shortcode-register-field" type="email" name="email" placeholder="Email" autocomplete="off" /></div></div>
						
						
						<p>
							<input class="dae-shortcode-register-submit" type="submit" value="Aceptar" />
						</p>
						<p class="dae-shortcode-register-loading">
							<i class="fas fa-spinner fa-spin"></i>
						</p>
					</form>
					<p class="dae-shortcode-register-message"></p>
				</div>
			</div>
		</div>
	</td></tr></tbody></table><p> </p>					</div>
						</div>
				</div>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
						</div>
					</div>
		</div>
								</div>
					</div>
		</section>
						</div>
						</div>
					</div>
		<p>El cargo <a rel="nofollow" href="https://www.grupoisn.com.mx/filtro-panel/">Filtro Panel</a> apareció primero en <a rel="nofollow" href="https://www.grupoisn.com.mx">Servicios Nuevos de Filtración</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://www.grupoisn.com.mx/filtro-panel/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
